/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0f172a;
  color:white;
  font-family:Arial;
  height:100vh;
  overflow:hidden;
}

.topbar{
  height:70px;
  background:#111827;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  border-bottom:1px solid #1f2937;
}

.logo{
  font-size:24px;
  font-weight:bold;
}

.student-box{
  display:flex;
  gap:10px;
}

.student-box input{
  width:250px;
  padding:10px;
  border:none;
  border-radius:5px;
}

.student-box button{
  padding:10px 20px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background:#2563eb;
  color:white;
}

.main{
  display:flex;
  height:calc(100vh - 70px);
}

.left-panel{
  width:40%;
  background:#111827;
  overflow:auto;
  border-right:1px solid #1f2937;
}

.right-panel{
  width:60%;
  display:flex;
  flex-direction:column;
}

.question-card{
  padding:20px;
}

.question-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#timer{
  background:red;
  padding:10px 15px;
  border-radius:5px;
  font-weight:bold;
}

#questionNumber{
  margin-top:10px;
  color:#94a3b8;
}

.question-text{
  margin-top:25px;
  line-height:1.8;
  font-size:17px;
}

.section-title{
  margin-top:30px;
  margin-bottom:15px;
  font-size:22px;
  font-weight:bold;
}

.sample-box{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
}

.editor-toolbar{
  height:60px;
  background:#111827;
  display:flex;
  align-items:center;
  gap:10px;
  padding:0 20px;
  border-bottom:1px solid #1f2937;
}

.editor-toolbar select{
  padding:10px;
  border:none;
  border-radius:5px;
}

.editor-toolbar button{
  padding:10px 20px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background:#2563eb;
  color:white;
}

.submit-btn{
  background:#16a34a !important;
}

#editor{
  flex:1;
  width:100%;
}

.console{
  height:220px;
  background:black;
  color:#00ff00;
  padding:15px;
  overflow:auto;
}

.console-title{
  margin-bottom:10px;
  color:white;
  font-weight:bold;
}

pre{
  white-space:pre-wrap;
}
